django
djangorestframework
django-celery-beat
django-filter
django-filters
docker
drf-nested-routers
djangorestframework-jsonapi
django-jsonfield
django-html-field
django-cors-headers
psycopg2==2.7.1
