commands:
  00_create_dir:
    command: mkdir -p /var/log/collins
  01_touch_logfile:
    command: touch /var/log/collins/collins.log
  02_change_owner:
    command: sudo chown -R wsgi.wsgi /var/log/collins
  03_change_permissions:
    command: sudo chmod -R g+rw /var/log/collins

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/collins-logs.conf" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      /var/log/collins/collins.log