container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true

  04_wsgireplace:
    command: 'sudo cp wsgi.conf ../wsgi.conf'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "collins.settings.prod"
    "PYTHONPATH": "/opt/python/current/app/collins:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: collins/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "/static/"