container_commands:
  00_dl_package:
    command: wget https://github.com/papertrail/remote_syslog2/releases/download/v0.17/remote_syslog_linux_amd64.tar.gz
  01_extract_files:
    command: tar zxvf remote_syslog_linux_amd64.tar.gz
  02_install_bin:
    command: sudo cp -f remote_syslog/remote_syslog /usr/local/bin
  03_configure:
    command: sudo cp -f .ebextensions/log_files.yml /etc/log_files.yml
  04_copy_init_script:
    command: sudo cp -f .ebextensions/remote_syslog.init.d /etc/init.d/remote_syslog
  05_change_perms:
    command: sudo chmod 755 /etc/init.d/remote_syslog
  06_update_rc:
    command: sudo chkconfig --add remote_syslog
  07_enable_service:
    command: sudo chkconfig remote_syslog on
  08_start_service:
    command: sudo service remote_syslog restart