option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: testing
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-35622750
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-107ea43b
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-97108cf3