{% extends "_base.html" %}

{% block body %}

  <!-- main list -->
  <div class="ui-layout-center" id="list"></div>
  <!-- bottom panel -->
  <!-- <div class="ui-layout-south" id="bottom"></div> -->

  <script type="text/babel" src="/static/scripts/collins.js"></script>
  <script type="text/babel">

  ReactDOM.render(
    <JobsDashboard url="/api/v1/jobs/" pollInterval={1000} />,
    document.getElementById('list')
  );

  ReactDOM.render(
    <JobDetail />,
    document.getElementById('bottom')
  );

  </script>
{% endblock %}
