{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block title %}
interthings.io
{% endblock %}


{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}" type="text/css">
    <link href='{% static "rest_framework/css/theme-monokai.css" %}' media='screen' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='https://interthings.io'>
        interthings.io <span class="version">1</span>
    </a>
                            {% endblock %}