<!--Generate a form for creating a new Tunnel-->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-fw fa-table"></i>Create New Tunnel</h3>
                </div>
                <form action='' method='post'>{% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Submit' />
                </form>
            </div>
        </div>
    </div>
</div>
