<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav side-nav">
<li {% if sidebar_active == 'Dashboard' %}class="active"{% endif %}>
<a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
</li>
<li {% if sidebar_active == 'Connect' %}class="active"{% endif %}>
<a href="/tunnels"><i class="fa fa-fw fa-edit"></i> Connect</a>
</li>
<li {% if sidebar_active == 'Discover' %}class="active"{% endif %}>
<a href="/jobs"><i class="fa fa-fw fa-table"></i> Discover</a>
</li>
<li {% if sidebar_active == 'Speed Tests' %}class="active"{% endif %}>
<a href="/speedtests"><i class="fa fa-fw fa-table"></i> Speed Tests</a>
</li>
</ul>
</div>
